$secondary: #faca5f;


.btn-yellow {
  background-color: #faca5f !important;
  border-radius: 50px !important;


  &:hover {
    background-color: darken($secondary, 10%) !important;
    color: #fff !important;



    .icon--arrow {

      transform: rotate(360deg);


    }

  }



}


.icon {



  &--buttonarrow {
    background-image: url("/img/arrow_button.svg");
    float: right;
    margin-left: 10px;


  }

  &--lg {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }

  &--arrow {
    background-image: url("/img/icon-button.svg");
    float: right;
    margin-left: 10px;
    transition: 0.3s !important;



  }


  &--mob {
    background-image: url("/img/mob.svg");
    float: left;
    margin-right: 10px;
  }


  &--wp {
    background-image: url("/img/wp.svg");
    float: left;
    margin-right: 10px;
  }


  &--email {
    background-image: url("/img/email.svg");
    float: left;
    margin-right: 10px;
  }

  &--fb {
    background-image: url("/img/fb.svg");
    float: left;
    margin-right: 10px;
  }

  &--inst {
    background-image: url("/img/ins.svg");
    float: left;
    margin-right: 10px;
  }

  &--phone {
    background-image: url("/img/phone-button.svg");
    float: left;
    margin-right: 10px;
  }


  width: 25px;
  height: 25px;
  background-size: 25px 25px;



}


// background-image: url('/img/icon-button.svg');
// background-size: 19px 19px;
// background-repeat: no-repeat;
// width: 20px;
// height: 20px;
// display: inline-block;
// padding: 20px;