.btn-yellow {
  background-color: #faca5f !important;
  border-radius: 50px !important;

}


.icon {

  &--arrow {
    background-image: url("/img/icon-button.svg");
    float: right;
    margin-left: 10px;


  }


  &--mob {
    background-image: url("/img/mob.svg");
    float: left;
    margin-right: 10px;
  }


  &--wp {
    background-image: url("/img/wp.svg");
    float: left;
    margin-right: 10px;
  }


  &--email {
    background-image: url("/img/email.svg");
    float: left;
    margin-right: 10px;
  }

  &--fb {
    background-image: url("/img/fb.svg");
    float: left;
    margin-right: 10px;
  }

  &--inst {
    background-image: url("/img/ins.svg");
    float: left;
    margin-right: 10px;
  }

  &--phone {
    background-image: url("/img/phone-button.svg");
    float: left;
    margin-right: 10px;
  }


  width: 25px;
  height: 25px;
  background-size: 25px 25px;



}


// background-image: url('/img/icon-button.svg');
// background-size: 19px 19px;
// background-repeat: no-repeat;
// width: 20px;
// height: 20px;
// display: inline-block;
// padding: 20px;