.freed {
  display: flex;
  width: 100%;

  &__icon{
    display: block;

    position: absolute;
    top: 16px;
    left: 32px;
  }

  &__img {

    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
    height: fit-content;

  }

  &__content {
    &--white {
      color: #fff;
    }
  }

  h1 {
    text-transform: uppercase;
    font-size: 32px;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
  }

  &__left {
    width: 50%;

    display: flex;
    align-items: center;


  }

  &__content{

    width: 45%;
    position: absolute;
    top: 78px;
    right: 0;
  }
  &__right {
    width: 50%;

    display: flex;
    align-items: center;
  }

  &__block {
    overflow: hidden;
    position: relative;
    height: 300px;


  }
}