.navbar {
  &--top {
    height: 83px;
    background-color: black;

    li {
      a {
        font-size: 20px;

        &::after {
          content: '/';
          display: inline-block;
          margin-left: 1rem;
        }
      }

      &:last-child {
        a {
          &::after {
            content: '';
            display: block;
          }
        }
      }
    }
  }
}