.product {
  display: block;
  margin: 0 auto;
  width: 100%;

  &__item {
    transition: 0.5s;
    margin-bottom: 40px;

    &:hover {
      box-shadow: 0 16px 24px rgba(8, 35, 48, 0.16);
    }
  }

  &__body {
    &--complect {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__footer {
    &--complect {
      text-align: right;
    }
  }

  &__foto {
    img {
      width: 100%;
    }
  }
}

.product-block {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  &__item {
    position: relative;
  }

  &__title {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 75px);
    font-size: 24px;
    height: 60px;
    padding: 10px;
    text-align: center;
    color: #fff;
    display: block;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 50px;

    &:before {
      content: '';
      border: 1px solid white;
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
    }

    &:after {
      content: '';
      border: 1px solid white;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
    }
  }
}


.input-group {
  &--product {
    // border: 1px solid red;
    max-width: 110px;
    font-weight: bold;

  }
}

.product-block {
  padding: 20px;
  // border: 1px solid red;
  width: 100%;

  span {
    font-weight: bold;
  }


  &__price {
    border: 2px solid #faca5f;
    padding: 6px 16px;
    border-radius: 20px;
  }

  &__input {
    border-radius: 100px;
    width: 38px;
    display: inline-block;
    height: 38px;
    border: 2px solid #faca5f;
    text-align: center;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    width: 100%;
    display: block;
  }
}