<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="sidebar mt-5">
                <div class="sidebar__title">
                    <h6>ОТОБРАЗИТЬ ПО ФИЛЬТРАМ</h6>
                </div>
                <div class="sidebar__body">
                    <ul>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Акции</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Акции</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Новинки</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Лидеры продаж</label>
                        </li>
                    </ul>
                </div>

                <div class="sidebar__title">
                    <h6>ТИП ДВЕРЕЙ</h6>
                </div>
                <div class="sidebar__body">
                    <ul>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Глухая</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Со стеклом</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Дверь купе</label>
                        </li>

                    </ul>
                </div>

                <div class="sidebar__title">
                    <h6>НАЛИЧИЕ</h6>
                </div>
                <div class="sidebar__body">
                    <ul>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">В наличии</label>
                        </li>
                        <li><input type="checkbox" class="sidebar__checkbox" id="checkbox"/>
                            <label for="checkbox">Под заказ</label>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="col-lg-9">

            <h1 class="mt-5 mb-5">Двери ПВХ</h1>
            <div class="row">

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="product__item">
                        <div class="product__foto">
                            <img src="/img/img1.png" alt="">
                        </div>
                        <div class="product__title mt-3">
                            <span class="sale__title">Двери ПВХ</span>
                            <div class="row product__body">
                                <div class="col-6">
                                    <h5>АККОРД 1</h5>

                                    <div class="product__star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="sale-badge">
                                        <span>33%</span></div>
                                </div>
                                <div class="col-6">
                                    <span class="product__price">250€ 250€</span></div>
                                <div class="col-6">
                                    <span class="in-stock"> в наличии</span></div>
                            </div>
                            <div class="product__footer">
                                <a href="/catalog.html" class="btn btn-yellow">Подробнее  <span class="icon icon--arrow"></span></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>