{# <script type='text/javascript' src='/js/owl.carousel.min.js'></script> #}

{# <script defer src="/js/libs.min.js"></script> #}
<script defer src="/js/owl.carousel.min.js"></script>
<script defer src="/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
{# <script>
    const libsJs = document.createElement('script');
    const appJs = document.createElement('script');
    libsJs.src = '/assets/' + getAppVersion() + '/js/libs.min.js';
    libsJs.defer = true
    appJs.src = '/assets/' + getAppVersion() + '/js/app.js';
    appJs.defer = true
    document
        .querySelector('body')
        .append(libsJs);
    document
        .querySelector('body')
        .append(appJs);
    console.log('Версия приложения : ', getAppVersion());
</script> #}

<footer>

    <div class="container">
        <div class="row pt-5">

            <div class="col-lg-3">
                <h5>Компания</h5>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link">SIA “DurviLogi” LV0000000000</a>
                    </li>
                    <li>Rīga - Ilukstes 418, LV-1082</li>
                    <li>I-V: 9:00 - 18:00 VI: 10:00 - 15:00</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Безопастность</h5>
                <nav class="navbar navbar--footer navbar-dark ">
                    <ul class="footer__check navbar-nav ">
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">Новости от компании</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">Политика безопастности</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <h5>Страницы</h5>
                <nav class="navbar navbar--footer navbar-dark ">
                    <ul class="footer__check navbar-nav ">
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link nav-link--footer">О нас</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <h5>Свяжитесь с нами</h5>
                <ul class=" navbar-nav">
                    <li class="nav-item">
                        <a href="" class="nav-link nav-link--footer">О нас</a>
                    </li>
                    <li>+371 22 222 222</li>
                    <li>info@durvislogi.lv</li>
                </ul>
                <h5>Мы в интернете</h5>
            </div>
        </div>

        <div class="row mt-5">
            <p class="footer-bottom">durvislogi.lv | © 2020</p>
        </div>
    </div>

</footer>