<div class="freed">
    <div class="freed__left freed__block">
        <img class="freed__img" src="/img/deliver-bg.jpg" alt="">
        <div class="freed__wrapper">
            <img  src="/img/sale2.svg" alt="">
            <div class="freed__icon"></div>
            <div class="freed__content freed__content--white ">
                <h1>БЕСПЛАТНАЯ<br>
                    ДОСТАВКА</h1>
                <p>Осуществляется в пределах <br>Риги при оформелении заказа<br> на нашем сайте</p>
            </div>
        </div>

    </div>
    <div class="freed__right freed__block">
        <img class="freed__img" src="/img/vf.jpg" alt="">
        <div class="freed__wrapper">
            <div class="freed__icon"><img src="/img/sale3.svg" alt=""></div>
            <div class="freed__content">
                <h1>ВЫБЕРИТЕ<br>
                    ФУРНИТУРУ</h1>
                <p>Выбирайте ручки, замки <br>и петли к своим дверям</p>
            </div>
        </div>
    </div>
</div>