{% include './navbar.html' %}
{% include './navbar-second.html' %}

<div class="header-block header-block--slider">

    <div class="owl-carousel owl-theme">

        <div class="item overlay">
            <img src="/img/tomat/slider/IMG_9204.jpg" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/tomat/slider/IMG_9193.jpg" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/tomat/slider/IMG_9218.jpg" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/tomat/slider/home.jpg" alt="">
        </div>

    </div>

    <div class="container">

        <div class="header-block-rose">
            <div class="title header-block__title">
                <h1>МАГАЗИН ВХОДНЫХ И МЕЖКОМНТАНЫХ ДВЕРЕЙ В РИГЕ </h1>
            </div>
            <p class="header-block__desc">
           Долговечные материалы, большой выбор моделей и дизайна</p>

            <div class="slider_nav">
                <button class="am-prev arrow header-block__arrow">
                    <img src="img/arrow-l.svg" alt=""></button>
                <button class="am-next arrow header-block__arrow"><img src="img/arrow-r.svg" alt=""></button>

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <span>Любые размеры дверей</span>
                    <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                </div>
                <div class="col-lg-4">
                    <span>Любые размеры дверей</span>
                    <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                </div>
                <div class="col-lg-4">
                    <span>Любые размеры дверей</span>
                    <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                </div>
            </div>

        </div>

    </div>
</div>

</div>

</div>