{% include './navbar.html' %}
{% include './navbar-second.html' %}

<div class="header-block header-block--slider">

    <div class="owl-carousel owl-theme">

        <div class="item overlay">
            <img src="/img/slider1.png" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/slider1.png" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/slider1.png" alt="">
        </div>

        <div class="item overlay">
            <img src="/img/slider1.png" alt="">
        </div>

    </div>

    <div class="container">

        <div class="header-block-rose">
            <div class="title header-block__title">
                <h1>МАГАЗИН ВХОДНЫХ И МЕЖКОМНТАНЫХ ДВЕРЕЙ В РИГЕ </h1>
            </div>
            <p class="header-block__desc">
           Долговечные материалы, большой выбор моделей и дизайна</p>

            <div class="slider_nav">
                <button class="am-prev arrow header-block__arrow">
                    <img src="img/arrow-l.svg" alt=""></button>
                <button class="am-next arrow header-block__arrow"><img src="img/arrow-r.svg" alt=""></button>

            </div>
            <div class="row">
                <div class="header-block__bottom">

                    <div class="col-lg-4">
                        <div class="header-block__col">
                            <img src="/img/razmer.svg" alt="">
                            <div class="header-block__smalltex">
                                <span>Любые размеры дверей</span>
                                <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="header-block__col">
                            <img src="/img/rule.svg" alt="">
                            <div class="header-block__smalltex">
                                <span>Множество цветов и моделей</span>
                                <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="header-block__col">
                            <img src="/img/garant.svg" alt="">
                            <div class="header-block__smalltex">
                                <span>Гарантия 2 года</span>
                                <p>Двери исключительно под Ваши размеры, даже если проемы нестандартные</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>

        <div class="header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>

        <div class=" header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>

        <div class="header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>

        <div class="header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>

        <div class=" header-block__col-2 header-block__col-2--img1">
            <span>ВХОДНЫЕ МЕТАЛЛИЧЕСКИЕ ДВЕРИ</span>
        </div>
    </div>
</div>