<div class="marketing__wrapper">
    <div class="container">
        <div class="marketing__body">
            <div class="marketing__content">
                <h1>ВЫЗВАТЬ МАСТЕРА НА ЗАМЕР ДВЕРНЫХ ПРОЁМОВ</h1>
                <p>Снятие замеров осуществляется бесплатно!
                Мастер приедет в течении одного рабочего дня.</p>
            </div>
            <div class="marketing__action">
                <div class="btn btn-secondary">Укажите Ваш номер телефона для связи</div>
            </div>
        </div>
    </div>
</div>