{# <div class="marketing__wrapper">
    <div class="container">
        <div class="marketing__body">
            <div class="marketing__content">
                <h1>ВЫЗВАТЬ МАСТЕРА НА ЗАМЕР ДВЕРНЫХ ПРОЁМОВ</h1>
                <p>Снятие замеров осуществляется бесплатно!
                Мастер приедет в течении одного рабочего дня.</p>
            </div>
            <div class="marketing__action">
                <botton class="btn btn-yellow btn-lg ">Укажите Ваш номер телефона для связи<span class="icon icon--arrow"></span></botton>
            </div>
        </div>
    </div>
</div> #}

<div class="marketing__wrapper">
    <div class="container">
        <div class="row">
            <div class="marketing__content">
                <h1>ВЫЗВАТЬ МАСТЕРА НА ЗАМЕР ДВЕРНЫХ ПРОЁМОВ</h1>

            </div>
        </div>
        <div class="row d-flex">

            <div class="marketing__action">
                <p>
                    <p>Снятие замеров осуществляется бесплатно!
                Мастер приедет в течении одного рабочего дня.</p>
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <botton class="btn btn-yellow btn-lg ">Укажите Ваш номер телефона для связи<span class="icon icon--arrow icon--lg"></span></botton>
        </div>
    </div>
</div>