<div class="container pt-5">

    <div class="row bg-white">
        <div class="col-lg-3">
            <div class="product-block"><img src="/img/img1.png" alt=""></div>
        </div>
        <div class="col-lg-9">
            <div class="product-block product-block__wrapper">
                <div class="product-lg product-block__header">
                    <span class="sale__title">Двери ПВХ</span>
                    <h1>АККОРД 1</h1>
                    <div class="product__star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <span class="in-stock"> в наличии</span>
                    </div>
                </div>
                <div class=" product-block product-block__body">тело</div>
                <div class="product-block product-block__footer">
                    <span class="mr-5">ЦЕНА ЗА ПОЛОТНО:</span>
                    <div class="input-group input-group--product ml-auto mr-3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-minus">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[1]" class="product-block__input" value="1" min="1" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-plus">+</span>
                            </button>
                        </span>
                    </div>

                    <span class="product-block__price mr-3">350€</span>

                    <button class="ml-2 btn btn-yellow">ОФОРМИТЬ ЗАКАЗ </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">

    <div class="row bg-white">
    dd</div>
</div>


    <div class="container">
        <h1 class="pt-5">С ЭТИМ ТОВАРОМ ТАК ЖЕ ПОКУПАЮТ </h1>
        {% include 'templates/furnitura.html' %}
    </div>


<section class="marketing">
    {% include 'templates/marketing.html' %}
</section>