<div class="container pt-5">

    <div class="row bg-white">
        <div class="col-lg-3">
            <div class="product-block"><img src="/img/img1.png" alt=""></div>
        </div>
        <div class="col-lg-9">
            <div class="product-block product-block__wrapper">
                <div class="product-lg product-block__header">
                    <span class="sale__title">Двери ПВХ</span>
                    <h1>АККОРД 1</h1>
                    <div class="product__star">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <span class="in-stock"> в наличии</span>
                    </div>
                </div>

<p>Выберите ширину двери:</p>
                   <div class="w-100 d-flex">
                    <div class="product-block__check">
                        <input checked="" id="q1" name="q" type="radio" value="q1">
                        <label for="q1">600 мм</label>
                    </div>

                       <div class="product-block__check">
                           <input checked="" id="q2" name="q" type="radio" value="q2">
                           <label for="q2">700 мм</label>
                       </div>
                       <div class="product-block__check">
                           <input checked="" id="q3" name="q" type="radio" value="q3">
                           <label for="q3">800 мм</label>
                       </div>


                    <div class="product-block__check">
                        <input checked="" id="q4" name="q" type="radio" value="q4">
                        <label for="q4">900 мм</label>
                    </div>



                    <div class="product-block__check">
                        <input checked="" id="q5" name="q" type="radio" value="q5">
                        <label for="q5">Нестандартный размер</label>
                    </div>
                   </div>




                <p>Выберите высоту двери:</p>
                <div class="w-100 d-flex">
                    <div class="product-block__check">
                        <input checked="" id="q6" name="q" type="radio" value="q6">
                        <label for="q6">2000 мм</label>
                    </div>


                    <div class="product-block__check">
                        <input checked="" id="q7" name="q" type="radio" value="q7">
                        <label for="q7">2100 мм</label>
                    </div>


                    <div class="product-block__check">
                        <input checked="" id="q8" name="q" type="radio" value="q8">
                        <label for="q8">2200 мм</label>
                    </div>


                    <div class="product-block__check">
                        <input checked="" id="q9" name="q" type="radio" value="q9">
                        <label for="q9">Нестандартный размер</label>
                    </div>
                </div>


                <p>Выберите высоту двери::</p>
                <div class="w-100 d-flex">
                    <div class="product-block__check">
                        <input checked="" id="q10" name="q" type="radio" value="q10">
                        <label for="q10">Левая</label>
                    </div>


                    <div class="product-block__check">
                        <input checked="" id="q11" name="q" type="radio" value="q11">
                        <label for="q11">Правая</label>
                    </div>



                </div>




                <div class="product-block product-block__footer">
                    <span class="mr-5">ЦЕНА ЗА ПОЛОТНО:</span>
                    <div class="input-group input-group--product ml-auto mr-3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-minus">-</span>
                            </button>
                        </span>
                        <input type="text" name="quant[1]" class="product-block__input" value="1" min="1" max="10">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                                <span class="glyphicon glyphicon-plus">+</span>
                            </button>
                        </span>
                    </div>

                    <span class="product-block__price mr-3">350€</span>

                    <button class="ml-2 btn btn-yellow">ОФОРМИТЬ ЗАКАЗ </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">

    <div class="row bg-white p-3">
        <div class="col-lg-6 product__desc product__desc--left"><h5 class="product__title">Описание:</h5>
            Направление открывания: левое или правое.
            <ul>
            <li>2 вида внешних накладок.</li>
            <li> 2 цвета внешних накладок.</li>
            <li> Разнообразие внутренних накладок.</li>
        </ul>
            Каркас полотна толщиной 1 мм из оцинкованной стали с полимерным покрытием. Коробка толщиной 1,5 мм из оцинкованной стали с полимерным покрытием.

            <p>Внутреннее наполнение:  минеральная вата.</p>

           <p> Два контура уплотнения (на полотне и на коробке).</p>
          <b>Фурнитура:</b>
<ul>

    <li>верхний сувальдный замок</li>
    <li>нижний цилиндровый замок</li>
    <li>дополнительная защелка «ночной сторож»</li>
    <li>Противосъемные штыри со стороны петель.</li>
    <li>Эксцентриковый регулятор притвора (обеспечивает плотное  прилегание дверного полотна относительно дверной коробки, следовательно надежную работу замков и низкий уровень шума при их закрывании ).</li>

    <li> Средний вес – 93 кг. </li>

    <li>Гарантия 2 года. </li>
</ul>

        </div>
        <div class="col-lg-6 product__desc product__desc--right"><h5 class="product__title">Характеристики:</h5>
            <div class="row">
                <div class="col-lg-6"><p>Тип товара</p>
                    <p>Тип двери</p>
                    <p>Стиль</p>
                    <p>Фурнитура в комплекте</p>
                    <p>Гарантия</p>
                    <p>Производитель</p>
                    <p>Страна производства</p></div>
                <div class="col-lg-6"><p>Входные двери</p>
                    <p>Наружные</p>
                    <p>Модерн</p>
                    <p>Да</p>
                    <p>2 года</p>
                    <p>WoodDoors</p>
                    <p>Беларусь</p>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="container">
        <h1 class="pt-5">С ЭТИМ ТОВАРОМ ТАК ЖЕ ПОКУПАЮТ </h1>
        {% include 'templates/furnitura.html' %}
    </div>


<section class="marketing">
    {% include 'templates/marketing.html' %}
</section>