<div class="container">
    <div class="step__wrapper">
        <h1 class="text-center">Как заказать двери на WoodDoors.lv</h1>
        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="step__container">
                    <div class="step__item">
                        <span>1</span>
                        <img src="/img/st1.svg" alt="">
                    </div>
                    <p>Выберите двери и оставьте заявку</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="step__container">
                    <div class="step__item">
                        <span>2</span><img src="/img/st2.svg" alt=""></div><p>Дождитесь пока с Вами свяжется оператор</p></div>
            </div>
            <div class="col-lg-3">
                <div class="step__container">
                    <div class="step__item">
                        <span>3</span><img src="/img/st3.svg" alt=""></div><p>Получите бесплатный замер для дверных проемов</p></div>
            </div>
            <div class="col-lg-3">
                <div class="step__container">
                    <div class="step__item">
                        <span>4</span><img src="/img/st4.svg" alt=""></div><p>Доставка и установка дверей</p></div>
            </div>
        </div>
    </div>
</div>