<div class="container">
    <div class="step__wrapper">
<h1 class="text-center">Как заказать двери на WoodDoors.lv</h1>
<div class="row mt-5">
    <div class="col-lg-3"><div class="step__container"><div class="step__item"><span>1</span><img src="/img/st1.svg" alt=""></div>Выберите двери и оставьте заявку</div></div>
    <div class="col-lg-3"><div class="step__container"><div class="step__item"><span>2</span><img src="/img/st2.svg" alt=""></div>Дождитесь пока с Вами свяжется оператор</div></div>
    <div class="col-lg-3"><div class="step__container"><div class="step__item"><span>3</span><img src="/img/st3.svg" alt=""></div>Получите бесплатный замер для дверных проемов</div></div>
    <div class="col-lg-3"><div class="step__container"><div class="step__item"><span>4</span><img src="/img/st4.svg" alt=""></div>Доставка и установка дверей</div></div>
</div>
    </div>
</div>