<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body>

    <div class="wrapper-for-modal" id="example">
      <div class="shadow-wrapper" id="shadow">
        <div class="main">
          <section id="home">
            {% include 'templates/header.html' %}
          </section>
          <section class="step">
            {% include 'templates/step.html' %}
          </section>
          <section class="sale">
            {% include 'templates/sale.html' %}
          </section>
          <section id="service">
            {% include 'templates/freed.html' %}
          </section>
          <section class="marketing">
            {% include 'templates/marketing.html' %}
          </section>
          <section id="service">
            {% include 'templates/service.html' %}
          </section>
          <section id="gallery">
            {% include 'templates/gallery.html' %}
          </section>
          <section id="contacs">
            {% include 'templates/footer.html' %}
          </section>
        </div>

      </div>
    </div>
  </body>

</html>