<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Каталог товаров</title>
        {% include 'templates/head.html' %}
    </head>
    <body>

        <div class="wrapper-for-modal" id="example">
            <div class="shadow-wrapper" id="shadow">
                <div class="main">
                    {% include 'templates/navbar.html' %}
                    {% include 'templates/navbar-second.html' %}
                    <section class="sale">
                        {% include 'templates/product.html' %}
                    </section>

                </section>
                <section id="contacs">
                    {% include 'templates/footer.html' %}
                </section>
            </div>

        </div>
    </div>
</body>

</html>